doctype html
html(lang="en")
	head
		title Planning Poker
		link(rel="stylesheet", href="style.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="scripts.js")
	body		
		a.brand(href="http://en.wikipedia.org/wiki/Planning_poker") Planning Poker 
		br
		form(name="login", action="/session", method="post")
			input(type="text", name="user")
			input(type="submit", value="Start")
