doctype html
html(lang="en")
	head
		title Planning Poker Session
		link(rel="stylesheet", href="/style.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="/scripts.js")
	body
		input(id='session_id',type='hidden',name='session_id',value='#{session}')
		if askForName
			Enter your name to join session: 
			input(id='page_member_name',type='text',name='page_member_name')
			input(type='button', value='Enter', onclick="registerMember()")
		else
			input(id='page_owner_name',type='hidden',name='page_owner_name',value='#{page_owner_name}')
			| Hey #{page_owner_name}! Share this url with your teammates #{targetUrl}
		br
		ul(id='names')
				
